/* Padrões Globais */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff;
}

:root {
    --azul1: rgb(35, 90, 141);
    --azul2: rgb(27, 67, 105);
    --sombra-padrao: 2px 2px 2px 1px black;
    --sombra-texto: 3px 3px 3px black;
}

body {
    background-color: rgb(173, 173, 173);
}

/* Celulares */
@media (max-width: 480px) {

    /* Header */
    header {
        margin: 8px auto;
        background-color: var(--azul1);
        border-radius: 0px;
        box-shadow: var(--sombra-padrao);
    }

    header > h1 {
        font-size: 3em;
        color: white;
        text-align: center;
    }

    header > h1 > a {
        text-decoration: none;
        color: white;
    }

    header > h1 > a:hover {
        text-shadow: var(--sombra-texto);
    }

    header > nav {
        padding: 10px;
    }

    header > nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    header > nav > ul > li > a {
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
    }

    header > nav > ul > li > a:hover {
        background-color: var(--azul2);
        text-shadow: var(--sombra-texto);
        border-radius: 8px;
        padding: 5px;
    }

    /* Main */
    #divmain {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        background-color: var(--azul1);
        box-shadow: var(--sombra-padrao);
    }

    #fotomain {
        margin: 20px auto;
        border: 5px solid var(--azul2);
    }

    #itemsmain {
        margin: 20px auto;
        padding: 10px;
        background-color: var(--azul2);
        font-size: 1.3em;
        color: #fff;
        text-align: center;
    }

    /* Informações */
    #divinfos {
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--azul1);
        text-align: center;
        box-shadow: var(--sombra-padrao);
        color: #fff;
    }

    #divinfos > h1 {
        width: 480px;
        margin: 20px auto;
        padding: 20px;
        background-color: var(--azul2);
        font-size: 2em;
        text-align: center;
        box-shadow: var(--sombra-padrao);
    }

    #fotoinfos {
        margin: 10px auto;
        border: 5px solid var(--azul2);
    }

    #itemsinfos {
        margin: 20px auto;
        padding: 20px;
        background-color: var(--azul2);
        font-size: 1.3em;
        color: #fff;
        text-align: center;
    }

    #divinfos ul > li {
        list-style: inside circle;
    }

    /* Habilidades */
    #divhabilidades {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--azul1);
        box-shadow: var(--sombra-padrao);
    }

    #divhabilidades > h1 {
        margin: 20px auto;
        padding: 20px;
        background-color: var(--azul2);
        font-size: 2em;
        text-align: center;
        box-shadow: var(--sombra-padrao);
    }

    .itemshabilidades {
        width: 250px;
        margin: 20px auto;
        padding: 10px;
        background-color: var(--azul2);
        box-shadow: var(--sombra-padrao);
        transition: transform 0.5s ease;
    }

    .itemshabilidades > h1 {
        font-size: 2em;
        color: white;
    }

    .itemshabilidades ul > li {
        list-style-type: none;
        font-size: 1.5em;
        color: white;
    }

    .itemshabilidades:hover {
        transform: translateY(-7px);
    }

    /* Currículo */
    #divcurriculo {
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--azul1);
        box-shadow: var(--sombra-padrao);
    }

    #divcurriculo > h1 {
        width: 480px;
        margin: 20px auto;
        padding: 20px;
        background-color: var(--azul2);
        font-size: 2em;
        text-align: center;
        box-shadow: var(--sombra-padrao);
    }

    #divcurriculo > p {
        margin: 20px auto;
        font-size: 1.5em;
        color: white;
        text-align: center;
    }

    /* Contatos */
    #divcontatos {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--azul1);
        box-shadow: var(--sombra-padrao);
    }

    #divcontatos > h1 {
        width: 480px;
        margin: 20px auto;
        padding: 20px;
        background-color: var(--azul2);
        font-size: 2em;
        text-align: center;
        box-shadow: var(--sombra-padrao);
    }

    #divcontatos ul > li {
        padding: 20px;
        list-style: none;
        text-align: center;
    }
}


/* Ipads e Tablets*/
@media (max-width: 768px) {}

/* Telas Pequenas */
@media (max-width: 1024px) {}

/* Telas Grandes */
@media (min-width: 1025px) {}