/* Padrões Globais */
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: rgb(35, 90, 141);
    --cor2: rgb(27, 67, 105);
    --sombra-padrao: 2px 2px 2px 1px black;
    --sombra-texto: 1px 1px 5px  black;
}

body {
    background-color: rgb(241, 241, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

/* Celulares */
/* Header */
header {
    margin: auto;
    padding: 10px;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    border-radius: 0px;
    box-shadow: var(--sombra-padrao);
}

header>h1 {
    font-size: 3em;
    text-align: center;
}

header>h1>a {
    text-decoration: none;
    color: #fff;
}

header>h1>a:hover {
    text-shadow: var(--sombra-texto);
}

header>nav {
    padding: 10px;

}

header>nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header>nav>ul>li>a {
    font-size: 1.2em;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
}

header>nav>ul>li>a:hover {
    text-shadow: var(--sombra-texto);
    border-radius: 8px;
    padding: 5px;
}

/* Main */
#divmain {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    box-shadow: var(--sombra-padrao);
}

#fotomain {
    margin: 20px auto;
    border: 5px solid var(--cor2);
}

#itemsmain {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--cor2);
    font-size: 1.3em;
    text-align: center;
}

/* Informações */
#divinfos {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    box-shadow: var(--sombra-padrao);
}

#divinfos>h1 {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--cor2);
    font-size: 2em;
    text-align: center;
    box-shadow: var(--sombra-padrao);
}

#fotoinfos {
    margin: 10px auto;
    height: 400px;
    width: 400px;
}

#itemsinfos {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor2);
    font-size: 1.3em;
    text-align: center;
    box-shadow: var(--sombra-padrao);
}

#divinfos ul>li {
    list-style: inside circle;
}

/* Habilidades */
#divhabilidades {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    box-shadow: var(--sombra-padrao);
}

#divhabilidades>h1 {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor2);
    font-size: 2em;
    text-align: center;
    box-shadow: var(--sombra-padrao);
}

.itemshabilidades {
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--cor2);
    box-shadow: var(--sombra-padrao);
    transition: transform 0.5s ease;
}

.itemshabilidades>h1 {
    font-size: 2em;
}

.itemshabilidades ul>li {
    list-style-type: none;
    font-size: 1.5em;
}

.itemshabilidades:hover {
    transform: translateY(-7px);
}

/* Currículo */
#divcurriculo {
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    box-shadow: var(--sombra-padrao);
}

#divcurriculo>h1 {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor2);
    font-size: 2em;
    text-align: center;
    box-shadow: var(--sombra-padrao);
}

#divcurriculo>p {
    margin: 20px auto;
    font-size: 1.5em;
    text-align: center;
}

#divcurriculo>p>a {
    color: goldenrod;
}

/* Contatos */
#divcontatos {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, rgb(37, 107, 173), rgb(27, 67, 105));
    box-shadow: var(--sombra-padrao);
}

#divcontatos>h1 {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cor2);
    font-size: 2em;
    text-align: center;
    box-shadow: var(--sombra-padrao);
}

#divcontatos ul>li {
    padding: 20px;
    list-style: none;
    text-align: center;
}

/* Mensagem Para Telas Grandes */
.mensagem {
    display: none;
    padding: 20px;
    background-color: var(--cor2);
    font-size: 1.5em;
    text-align: center;
    box-shadow: var(--sombra-texto);
}

/* Ipads e Tablets*/
@media (min-width:501px) and (max-width: 768px) {

    /* Header */
    header {}

    /* Main */
    #divmain {
        width: 82vw;
        padding: 10px;
        border-radius: 5px;
    }

    /* Informações */
    #divinfos {
        width: 82vw;
        border-radius: 5px;
    }

    /* Habilidades */
    #divhabilidades {
        width: 82vw;
        border-radius: 5px;
    }

    /* Currículo */
    #divcurriculo {
        width: 82vw;
        border-radius: 5px;
    }

    /* Contatos */
    #divcontatos {
        width: 82vw;
        border-radius: 5px;
    }

}

/* Telas Pequenas */
@media (min-width:768px) and (max-width: 1024px) {

    /* Header */
    header {}

    /* Main */
    #divmain {
        width: 82vw;
        flex-direction: row;
        padding: 20px;
        border-radius: 5px;
    }

    /* Informações */
    #divinfos {
        width: 82vw;
        padding: 20px;
        border-radius: 5px;
    }

    /* Habilidades */
    #divhabilidades {
        width: 82vw;
        padding: 20px;
        border-radius: 5px;
    }

    /* Currículo */
    #divcurriculo {
        width: 82vw;
        padding: 20px;
        border-radius: 5px;
    }

    /* Contatos */
    #divcontatos {
        width: 82vw;
        padding: 20px;
        border-radius: 5px;
    }

    /* Mensagem Para Telas Grandes */
    .mensagem {
        margin: auto;
        display: block;
    }

}

/* Telas Grandes */
@media (min-width: 1025px) {

    /* Header */
    header {
        max-width: 1050px;
        margin: 8px auto;
        border-radius: 5px;
    }

    /* Main */
    #divmain {
        max-width: 850px;
        flex-direction: row;
        padding: 20px;
        border-radius: 5px;
    }

    /* Informações */
    #divinfos {
        max-width: 850px;
        padding: 20px;
        border-radius: 5px;
    }

    /* Habilidades */
    #divhabilidades {
        max-width: 850px;
        padding: 20px;
        border-radius: 5px;
    }

    /* Currículo */
    #divcurriculo {
        max-width: 850px;
        padding: 20px;
        border-radius: 5px;
    }

    /* Contatos */
    #divcontatos {
        max-width: 850px;
        padding: 20px;
        border-radius: 5px;
    }

    /* Mensagem Para Telas Grandes */
    .mensagem {
        margin: auto;
        display: block;
    }

}