header {
    border-radius: 0px;
}

/*Main*/
#divmain {
    flex-flow: column;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

#itemsmain {
    font-size: 1em;
}

/*Habilidades*/

#habilidades {
    border-radius: 0px;
}

#habilidades>h1 {
    font-size: 1.5em;
    padding: 10px;
}

#habilidades>ul>li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px;
}

/*Contatos*/

#contatos {
    border-radius: 0px;
}

#contatos>h1 {
    font-size: 1.8em;
}

#contatos>ul>li {}

#contatos>ul>li>a {}