header {
    border-radius: 0px;
    width: 390px;
}

/*Main*/
#divmain {
    flex-flow: column;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 360px;
}

#itemsmain {
    font-size: 1em;
}
/*Informações*/

#divinformaçoes {
    width: 390px;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 10px;
    border-radius: 0px;
}

/*Habilidades*/

#divhabilidades {
    border-radius: 0px;
    gap: 8px;
    width: 392px;
}

#divhabilidades>h1 {
 font-size: 2em;
}

#itemhabilidades {
   font-size: 1.2em;
   text-align: center;
}


ul>li {  
}

/* Currículo */

#divcurriculo {
    border-radius: 0px;
    width: 350px;
}
/*Contatos*/

#contatos {
    border-radius: 0px;
    width: 390px;
}

#contatos>h1 {
    font-size: 1.8em;
}

#contatos>ul>li {}

#contatos>ul>li>a {}

